aside {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* ??? */
  align-items: flex-end;
  height: 660px;
}

#phone {
  margin-top: 25px;
  position: relative;
  z-index: -1;
}

main {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* ??? */
  height: 660px;
}

#login_input {
  justify-content: left;
  align-content: center;

  display: flex; /* ? */
  flex-direction: column; /* ? */
  align-items: center; /* ? */
}

#instagram {
  width: 174px;
  height: auto;
  margin-top: 40px;
}

.login_box {
  width: 268px;
  height: 36px;
  margin-top: 1%;
  background-color: #fbfbfb;
  border-color: #d3d3d3;
  border-width: 0.7px;
  border-radius: 3px;
}

.box {
  width: 350px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0.7px;
  border-radius: 3px;
  margin-bottom: 10px;

  display: flex; /* ? */
  flex-direction: column; /* ? */
  align-items: center; /* ? */
  justify-content: center;
}

#login_button {
  margin-top: 15px;
  width: 274px;
  height: 32px;
  border-style: none;
  border-radius: 7px;
  background-color: rgba(0, 149, 246, 0.3);
  opacity: 1;

  color: #fafafa;
  font-weight: 1000;

  /*
  --ig-primary-button: 0, 149, 246; 버튼 비활성화 시
  --ig-primary-button-hover: 24, 119, 242; 버튼 활성화 시
  */
}

.or_line {
  display: inline-block;
  align-self: center; /* align-items, self, content 등 찾아보기 */
  width: 103px;
  height: 1px;
  background-color: #d3d3d3;
}

.link {
  text-decoration: none;
  color: inherit;
}

#downroad {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#downroad_img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer_item {
  font-size: 0.75em;
  color: rgb(100, 100, 100);
  margin: 0.5%;
}
