#phone {
  width: 260px;
  height: auto;
}

#instagram {
  width: 174px;
  height: auto;
}

.login_box {
  width: 268px;
  height: 36px;
  margin-top: 1%;
  background-color: #fbfbfb;
  border-color: #d3d3d3;
  border-width: 0.7px;
  border-radius: 3px;
}

.box {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0.7px;
  border-radius: 3px;
  width: 348.5px;
}

.line {
  display: inline-block;
  align-self: center; /* align-items, self, content 등 찾아보기 */
  width: 103px;
  height: 1px;
  background-color: #d3d3d3;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer_item {
  font-size: 0.75em;
  color: rgb(100, 100, 100);
  margin: 0.5%;
}
